<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard do Labirinto</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <h1>Dashboard do Jogo do Labirinto</h1>
    <h2 id="level-display">Nível: --</h2>
    
    <div id="maze-container">
        </div>
    <div id="status-container">
        <h3>Posição Bruta (MPU6050)</h3>
        <p><strong>Eixo X:</strong> <span id="status-accel-x">--</span></p>
        <p><strong>Eixo Y:</strong> <span id="status-accel-y">--</span></p>
    </div>

    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>